* {
    box-sizing: border-box;
}
body {
    margin: 0;
    cursor: pointer;
}


.wrap {
    color: rgb(18, 27, 15);
    margin: 0 auto;
    width: 800px;
    max-width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}
main {
    background-color: rgb(22, 198, 229, .6);
    padding: 24px 0;
}
header {
    padding: 0 24px;
}
h1 {
    font-family: 'Fascinate Inline', cursive;
    font-size: 62px;
    text-align: center;
}
.hints {
    font-style: italic;
    font-weight: 700;
    max-height: 360px;
    overflow-y: scroll;
}
.hints span {
    display: inline-block;
    padding: 8px;
    margin: 8px;
}
.hints span, .output-wrap {
    text-shadow: 1px 1px 1px rgb(247, 238, 240);
}
.output-wrap {
    padding: 24px;
    background-color: rgba(108, 177, 110, .6);
    /*color: rgb(247, 238, 240);*/
}


footer {
    background-color: rgba(229, 22, 198, .6);
    padding: 32px 32px 32px 8%;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 8px;
}
.rainbow-text {
    text-decoration: none;
    padding-left: 24px;
    font-size: 32px;
    position: relative;
    top: 3px;
    /* https://w3bits.com/rainbow-text/ */
    background-image: repeating-linear-gradient(to left, rgb(23, 17, 72), rgb(161, 204, 245), rgb(246, 142, 87), rgb(23, 17, 72), rgb(205, 233, 225), rgb(246, 142, 87));
    -webkit-background-clip: text;
    background-size: 800% 800%;
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: rainbow 8s ease infinite;
}
@keyframes rainbow { 
    0% {background-position:0% 50%}
    50% {background-position:100% 25%}
    100% {background-position:0% 50%}
}

.speech-overlay {
    display: none;
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(127, 127, 127, .5);
    cursor: progress;
}
.speech-overlay h1 {
    padding-top: 50vh;
    margin-top: 0;
    line-height: 0;
}